@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Lato', sans-serif;
}

/* main {
  max-height: 100vh;
} */

h1 {
  text-align: center;
  color: #fff;
  margin: 20px;
  text-shadow: 2px 3px #000000;
  font-size: 36px;
}

h2 {
  color: #fff;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 17px;
  margin: 10px 0 5px;
}

h4 {
  color: #000;
  text-align: center;
}

h5 {
  margin: 10px 0;
}
p {
  margin: 2px;
  font-size: 13px;
}


/* NAVBAR */

.navbar {	
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);	
  height: 75px;	
  display: flex;	
  justify-content: center;	
  align-items: center;	
  font-size: 1.2rem;	
  position: sticky;	
  top: 0;	
  z-index: 999;
  border-bottom: 1px solid #2d2d2d;
}	

.navbar-logo {
  color: #fff;
  text-decoration: none;
  font-size: 35px;
  margin-left: 46px;
  font-family: 'Playball', cursive;
}

.navbar-container {	
  display: flex;	
  align-items: center;
  height: 80px; /**/		
  max-width: 1500px;	
}	

.nav-menu {	
  display: grid;	
  grid-template-columns: repeat(4, auto);	
  grid-gap: 10px;	
  list-style: none;	
  text-align: center;	
  width: 76vw;	
  justify-content: end;	
  margin-right: 2rem;	
}

.nav-links {	
  color: #fff;	
  display: flex;	
  align-items: center;	
  text-decoration: none;	
  height: 100%;	
  margin: 0 15px;
  font-size: 14px;
  letter-spacing: 1px;
}	

.nav-links:hover {	
  border-bottom: 2px solid #fff;	
  transition: all 0.2s ease-out;	
}	

.fa-bars {	
  color: #fff;	
}	

.menu-icon {	
  display: none;	
}

ul {
  margin: 0;
  padding: 0;
}

/* START PAGE */

.start-container {
  background-image: url("https://source.unsplash.com/1600x900/?house?orientation=landscape");
  background-repeat: no-repeat;
  width: 100vw;
  height: 78vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-button {
  padding: 5px;
  margin: 12px;
  border-radius: 5px;
  text-decoration: none;
  background-color: white;
  height: 45px;
  width: 150px;  
  box-shadow: 0 20px 20px 0 #777171;
  font-size: 20px;
  font-family: 'Playball', cursive;
}

.start-button-link,
.footer-button-link {
  text-decoration: none;
  color: black;
}

.start-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px solid black;
  width: 460px;
  height: 500px;
  padding: 30px;
  line-height: 24px;
  background-color: #e1dcdcf0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.start-logo {
  color: black;
  font-size: 35px;
  font-family: 'Playball', cursive;
}
/* LIST */

.list-container {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
}

.list-wrapper {
  width: 450px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.list-wrapper::-webkit-scrollbar {
  display: none;
}

.list-card {
  display: flex;
  flex-direction: column;
  border: 2px #0000002b solid;
  align-items: center;
  width: 280px;
  margin: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  font-family: 'Lato', sans-serif;
}

.list-card:hover,
.saved-card:hover {
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  transform: translateY(2px);
  -webkit-animation: gradientBG 1.5s ease-in-out forwards;
  animation: gradientBG 1.5s ease-in-out forwards;
}

.list-card:hover .list-arrow {
  display: none;
}

.fa-circle {
  font-size: 4px;
  vertical-align: middle;
  margin: 0 5px; 
}

.fa-angle-right {
  margin-left: 5px;
}

.list-details {
  display: flex;
  flex-wrap: wrap;
}

.list-location {
  border: none;
  background: none;
  margin: 0;
  width: 30px;
}

.list-url {
  margin: 2px;
  font-size: 13px;
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.save-button {
  background: none;
  border: none;
  cursor: pointer;
  color: grey;
  font-size: 20px;
  margin: 0 10px;
  width: 30px;
}
.save-button:hover {
  color: gold;
}

.save-button:active {
  color: gold;
}

.saved-delete {
  border: none;
  background: none;
  width: 20px;
  font-size: 17px;
  color: #92a1ae;
}

.saved-delete:hover {
  color: red;
  transition: all 0.2s ease-out;
  transform: scale(1.1);
}

/* SCROLL  TO TOP */

.MuiIconButton-root {
  color: black !important;
  z-index: 2 !important;;
  position: fixed !important;;
  bottom: 2vh !important;
  background-color: #8e9eabad !important;
  left: 12px !important;
}  

.MuiIconButton-root:hover {
  border: 2px solid #7c7c7c !important;
  background-color: transparent !important;
}

/* MAP */

.house-marker {
  background: none;
  border: none;
}

.house-marker img,
.house-logo {
  height: 25px;
}

.wrap {
  position: sticky;
  height: 80%;
  width: 80%;
  margin: 13px 25px;
}

.info-window {
  font-size: 12px;
}

/* SIGN IN FORM */

/* .form-section {
  display: flex;
  justify-content: center;
} */

.form {
  margin-top: 90px;
  margin-bottom: -32px;
	height: 400px;
	width: 350px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background: #8e9eabd4;
	box-shadow: 20px 20px 30px gray;
  border-radius: 4px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://source.unsplash.com/1600x900/?house?orientation=landscape");
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

/* INPUT FIELDS */

.input {
	display: flex;
	align-items: center;
	flex-direction: column;
}

input {
  border-radius: 3px;
  background-color: #fff;
  width: 200px;
  height: 40px;
  padding: 2px;
  margin: 10px;
  border: none;
}

input::placeholder {
	font-family: 'Lato', sans-serif;
}

/* BUTTON */

.button-container {
	display: flex;
	justify-content: center;
}

.button,
.error-button,
.button-sign-out {
  font-size: 16px;
  text-align: center;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  color: #fff;
  background: #000000;
  width: 88%;
  height: 40px;
}

.button-sign-out:hover,
.error-button:hover,
.button:hover,
.start-button:hover,
.footer-button:hover {
	cursor: pointer;
	background-color: #8e9eab;
}

.button-toggle {
	font-family: 'Lato', sans-serif;
	align-self: center;
	color: #ffffff;
	padding: 4px;
	font-size: 16px;
	text-decoration: underline;
	background-color: transparent;
	border: none;
  cursor: pointer;
  width: auto;
}

.button-sign-out {
	width: 90px;
	font-size: 12px;
}

/* PROFILE */

.profile-container {
  background-image: url("https://images.unsplash.com/photo-1516156008625-3a9d6067fab5?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  width: 100vw;
  height: 78vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.saved-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
} 

.saved-wrapper::-webkit-scrollbar {
  display: none;
}

.saved-card {
  display: flex;
  flex-direction: column;
  border: 2px #0000002b solid;
  background-color: whitesmoke;
  width: 215px;
  margin: 13px;
  padding: 10px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.8);
  font-family: 'Lato', sans-serif;
}

.saved-card-details {
  text-align: right;
  font-size: 14px;
}

/* SIGN OUT */

.signOut-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px solid black;
  width: 300px;
  height: 320px;
  padding: 30px;
  margin-top: 50px;
  line-height: 24px;
  background-color: #e1dcdcf0;
}

/* FOOTER */

.footer-wrapper {
  background: linear-gradient( 
  90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  color:#fff;
  height: 117px;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  font-size: 1.2rem;
  position: sticky;
  z-index: 999;
  border-top: 1px solid #2d2d2d;
}

.footer h5 {
  margin-bottom: 10px;
}
.footer-section {
  width: 220px;
  margin: 0 10px;
}

.footer-info:hover,
.footer-icons {
  cursor: pointer;
  text-decoration: underline;
}

.footer-icons {
  margin-right: 13px;
}

.footer-button {
  padding: 3px;
  font-family: 'Lato', sans-serif;
  margin-top: 10px;
}

/* LOADER */

.loader {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.rotate {
  width: 150px;
  height: 120px;
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* ERROR PAGE */

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-image {
  width: 500px;
}

.error-button {
  width: 200px;
  margin-top: 25px;
}

/* INFO PAGE */

.info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-header {
  font-family: 'Playball', cursive;
  color: black;
  text-shadow: none;
  margin: 0 20px 20px;
}

.info-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  margin: 40px 0 0 0;
  padding: 30px;
  border-radius: 8px;
}

.info-text {
  max-width: 500px;
  line-height: 26px;
  font-size: 14px;
}

.info-details {
  font-style: italic;

}

.info-container a {
  text-decoration: none;
  color: #000;
}

.info-container a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.info-icons {
  font-size: 25px;
  margin: 0 15px;
}

/* MEDIA QUERIES */

@media (max-width: 375px) {

.list-container {
  flex-direction: column;
}

.map-container {
  height: 350px;
}

.wrap {
  margin: 0 0 10px 40px;
}

.start-text {
  width: 350px;
}
} 


.list-wrapper {
  /* max-width: 390px;
  display: flex;
  flex-direction: column;
  align-self: center; */
}

@media (max-width: 960px) {

  h1 {
    font-size: 25px;
  }
  
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    top: 74px;
  }

  .nav-links {
    text-align: center;
    padding: 2rem 0;
    width: 100%;
    display: table;
    margin: 0;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .nav-item {
    height: 80px;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .form {
  width: 300px
  }
}