@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  height: 100vh;
}

h1 {
  text-align: center;
  color: #fff;
  margin: 20px;
}

h2 {
  color: #fff;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 17px;
  margin: 10px 0 5px;
}

p {
  margin: 2px;
  font-size: 14px;
}

/* NAVBAR */

.navbar {	
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);	
  height: 75px;	
  display: flex;	
  justify-content: center;	
  align-items: center;	
  font-size: 1.2rem;	
  position: sticky;	
  top: 0;	
  z-index: 999;
  border-bottom: 1px solid #2d2d2d;
}	

.navbar-logo {
  color: #fff;
  text-decoration: none;
  font-size: 35px;
  margin-left: 46px;
  font-family: 'Playball', cursive;
}

.navbar-container {	
  display: flex;	
  align-items: center;
  height: 80px; /**/		
  max-width: 1500px;	
}	

.nav-menu {	
  display: grid;	
  grid-template-columns: repeat(4, auto);	
  grid-gap: 10px;	
  list-style: none;	
  text-align: center;	
  width: 76vw;	
  justify-content: end;	
  margin-right: 2rem;	
}

.nav-links {	
  color: #fff;	
  display: flex;	
  align-items: center;	
  text-decoration: none;	
  height: 100%;	
  margin: 0 15px;
  font-size: 14px;
}	

.nav-links:hover {	
  border-bottom: 2px solid #fff;	
  transition: all 0.2s ease-out;	
}	

.fa-bars {	
  color: #fff;	
}	

.menu-icon {	
  display: none;	
}

ul {
  margin: 0;
  padding: 0;
}

/* LIST */

.list-container {
  display: flex;
  flex-direction: row-reverse;
  height: 90vh;
}

.list-wrapper {
  width: 350px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.list-wrapper::-webkit-scrollbar {
  display: inline;
}

.list-wrapper::-webkit-scrollbar-track {
  background: transparent;
  border: 1px solid #90a0ad;   
}

.list-wrapper::-webkit-scrollbar-thumb {
  background-color: transparent;   
  border: 2px solid #90a0ad;  
}

.list-card {
  display: flex;
  flex-direction: column;
  border: 2px #0000002b solid;
  align-items: center;
  width: 250px;
  margin: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  font-family: 'Montserrat', sans-serif;
  /* transition: 0.4s; */
}

.list-card:hover {
  /* transform: scale(1.02, 1.02); */
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    transform: translateY(2px);
    -webkit-animation: gradientBG 1.5s ease-in-out forwards;
    animation: gradientBG 1.5s ease-in-out forwards;
}

.list-card:hover .list-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
}

.list-card:hover .list-arrow {
  display: none;
}

.list-details {
  text-align: center;
  display: none;
}

.list-location {
  border: none;
  background: none;
  margin: 0;
  width: 30px;
}

.list-url {
  margin: 2px;
  font-size: 14px;
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.save-button {
  background: none;
  border: none;
  cursor: pointer;
  color: grey;
  font-size: 20px;
  margin: 0 10px;
  width: 30px;
}

.save-button:active {
  color: gold;
}

/* MAP */

.house-marker {
  background: none;
  border: none;
}

.house-marker img,
.house-logo {
  width: 17px;
  height: 25px;
}

.cluster-marker {
  color: #fff;
  background: #1978c8;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  position: sticky;
  height: 80%;
  width: 80%;
  margin: 13px 25px;
}

.info-window {
  font-size: 12px;
}

/* MODAL */

.modalBackground {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
}

.modalShowing-true {
  opacity: 1;
  pointer-events: visible;
}

.modalInner {
  background:#1e2939 ;
  width: 500px;
  max-width: calc(100% - 60px);
  margin: auto;
  display: flex;
  flex-direction: row;
  color: white;
  text-align: left;
  z-index: 99;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);;
}

.modalText {
  padding: 15px;
}

.modalText {
  display: block;
  width: 100%;
  text-align: center;
}

.modalImage img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.exitButton {
  display: block;
  width: 35px;
  background-color: transparent;
  border: 0;
  color: white;
  cursor: pointer;
}

/* SIGN IN FORM */

input {
  border-radius: 3px;
  background-color: #fff;
  width: 200px;
  height: 40px;
  padding: 2px;
  margin: 10px;
  border: none;
}

input::placeholder {
	font-family: "Montserrat", sans-serif;
}

button {
  font-size: 14px;
  text-align: center;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  color: #fff;
  background: transparent;
}

.button:hover,
.button-toggle:hover,
.button-sign-out:hover
.button:hover {
	cursor: pointer;
	background-color: #182624;
}

.button-toggle {
	font-family: "Montserrat", sans-serif;
	align-self: center;
	color: #ffffff;
	padding: 4px;
	font-size: 14px;
	text-decoration: underline;
	background-color: transparent;
	border: none;
  cursor: pointer;
  width: auto;
}

.button-sign-out {
	width: 90px;
	font-size: 12px;
}


/* PROFILE */

.saved-list {
  color: red;
}

/* MEDIA QUERIES */

@media screen and (max-width: 960px) {

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem 0;
    width: 100%;
    display: table;
    margin: 0;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .nav-item {
    height: 80px; /**/
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }
}